<div class="pagebuilder-widget-form-container" data-bind="attr: { id: 'widgetFormContainer' + uid }">
    <div class="widget-type-selector" afterRender="renderWidgetBuilder">
        <input type="hidden" ko-value="value" attr="id: uid, name: inputName"/>

        <div class="admin__field field field-widget_type required _required">
            <label class="admin__field-label" data-bind="attr: {for: 'widget_type-' + uid}">
                <span data-bind="i18n: 'Widget Type'"></span>
            </label>
            <div class="admin__field-control" data-bind="attr: { id: 'widget_type-' + uid }">
                <select name="widget_type"
                        title="Widget Type"
                        class="required-entry _required select admin__control-select"
                        data-bind="
                        value: selectedWidgetCode,
                        attr: { id: 'selectWidgetType' + uid }">
                    <!-- ko foreach: { data: chooserOptions, as: 'option' } -->
                    <option data-bind="value: option.code, attr: {selected: option.selected}">
                        <!-- ko text: option.name --><!-- /ko -->
                    </option>
                    <!-- /ko -->
                </select>
                <!-- ko if: selectedWidgetDescription -->
                <p class="admin__field-note">
                    <span data-bind="text: selectedWidgetDescription"></span>
                </p>
                <!-- /ko -->
            </div>
        </div>
    </div>

    <div class="widget-form-content" data-bind="visible: saveIsAvailable">
        <form data-bind="html: widgetHtmlForm, attr: { id: 'widgetForm' + uid }"></form>
    </div>

    <div class="widget-save-button" data-bind="visible: saveIsAvailable">
        <button type="button"
                class="action-default scalable save primary"
                data-bind="click: updateValue">
            <span data-bind="i18n: 'Save Widget Configuration'"></span>
        </button>
    </div>
</div>
