<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Api\Data\PageInterface">
        <plugin name="remove-cms-page-widget-preview-on-fe"
                type="MageOS\PageBuilderWidget\Plugin\WidgetContentSettingsCleanup" sortOrder="10"/>
    </type>
    <type name="Magento\Cms\Api\Data\BlockInterface">
        <plugin name="remove-cms-block-widget-preview-on-fe"
                type="MageOS\PageBuilderWidget\Plugin\WidgetContentSettingsCleanup" sortOrder="10"/>
    </type>
</config>
